
<div class="form-wrapper" style="display: flex; width: 100%;">
  <div class="content">
  <form [formGroup]="usersourceForm" style="flex-direction:column;" (ngSubmit)="onSubmit()">

    <button mat-raised-button type="submit" [disabled]="usersourceForm.invalid" style="float: right;">Submit</button>

    <h2>FORM PAGE</h2>

    <!-- <form (ngSubmit)="onSubmit()"> -->
      <mat-form-field>
        <mat-label>Source Name</mat-label>
        <input matInput placeholder="Enter Source Name" type="text" formControlName="name">
        <mat-error *ngIf="usersourceForm.get('name')?.hasError('required') && usersourceForm.get('name')?.touched">
          Source Name is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>User Source Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let option of types" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="usersourceForm.get('type')?.hasError('required') && usersourceForm.get('type')?.touched">
          Please select a User Source Type.
        </mat-error>
      </mat-form-field>

      <!-- Conditionally render the form component based on the selected type -->
      <app-facebook-form *ngIf="selectedType === 'facebook'" [sourceForm]="usersourceForm"></app-facebook-form>
      <app-github-form *ngIf="selectedType === 'github'" [sourceForm]="usersourceForm"></app-github-form>
      <app-google-form *ngIf="selectedType === 'google'" [sourceForm]="usersourceForm"></app-google-form>
    <!-- </form> -->

  </form>
</div>
  <pre style="margin-top:50px; border: 1px solid red; width: fit-content; float: right;">
    {{ usersourceForm.value | json }}
  </pre>
  <pre>{{ usersourceForm.status }}</pre>
  <pre>{{ usersourceForm.errors | json }}</pre>
  <!-- <pre>{{ usersourceForm.controls | json }}</pre> -->
</div>
