<ng-container [formGroup]="googleForm">
  <mat-card class="form-container">
    <mat-card-title>Google form</mat-card-title>

    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput placeholder="Enter Username" type="text" formControlName="username">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="Enter Password" type="password" formControlName="password">
    </mat-form-field>
    
  </mat-card>
</ng-container>
