<ng-container [formGroup]="form">
  <mat-card class="form-container">
    <mat-card-title>GitHub form</mat-card-title>

    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput placeholder="Enter Username" type="text" formControlName="username">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Repo URL</mat-label>
      <input matInput placeholder="Enter url" formControlName="repoUrl">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput type="number" formControlName="age">
    </mat-form-field>

  </mat-card>
</ng-container>
