table {
  width: 100%;
}

/* checkbox-list.component.scss */
.scrollable-checkbox-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: flex-start; /* Align items to the start of each row */
  // gap: 16px; /* Space between items */
  max-height: 300px; /* Set the maximum height of the scrollable area */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 8px; /* Optional: Add padding to the scrollable area */
  border: 1px solid #ddd; /* Optional: Add border for better visibility */
  box-sizing: border-box; /* Ensure proper spacing and box model behavior */
}

.flex-checkbox-item {
  flex: 1 1 calc(50% - 16px); /* Each item will take up 50% width minus the gap */
  box-sizing: border-box; /* Ensure proper spacing and box model behavior */
  display: flex;
  align-items: center;
}
